<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WXMain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF17CDDC1E5F44BA006DF9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF17CDF51E5F44BA006DF9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF17CE001E5F44BA006DF9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
